body {
  font-family: sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
.column1 {
  min-width: 350px;
  
}
#overflow {
  max-height: 370px;
}
#search-container {
  
  border-radius: 50px;
}
